.loginBox{
				position:absolute;
				top:100px;
				right:150px;
			    width: 350px;
			    height: 300px;;
			    background: white;
			    border:1px solid #8B0000;
			    border-radius:10px;
			}
			.loginTitle{
			    width: 100%;
			    height: 50px;
			    margin-top:12px;
			    margin-left:22px;
			}
			
			.loginTitle .loginText{
			    width:  64px;
			    height: 50px;
			    line-height: 50px;
			    float: left;
			}
			
			.font20{
			    font-size: 24px;
			    font-weight:400;
			}
			.loginBox .font20{
				width:350px;
				height:65px;
				text-align:center;
				color:#FFFFFF;
			    border-bottom: 2px solid darkred;
			    background:darkred;
			    border-radius:10px 10px 0 0;
			    padding-top:15px;
			}
			
			.loginBox .loginTitle .Align
			{
			    text-align: right;
			    font-size: 16px;
			    color: gray;
			}
			.loginBox .loginTitle .input_box
			{
			    height: 40px;
			    width: 256px;
			    float: left;
			    padding-top: 0px;
			}
			.loginBox .loginTitle .input_box input{
			    width: 220px;
			    height: 35px;
			    background:transparent;
			    border-radius:10px;
			    border:1px solid darkred;
			}
			.loginBox .loginTitle .input_box .loginbtn{
			    background: darkred;
			    border-radius: 5px;
			    width: 220px;
			    height: 30px;
			    color: white;
			    border: none;
			}
			
			.loginBox .alignr{
			    text-align: right;
			    font-size: 16px;
			    height: 20px;
			}
			
			.loginBox .alignr a{
			    text-decoration: underline;
			    color: darkred;
			}
			