			.carousel-inner > .item > a > img{
				width:1314px;
				height:580px;
			}

#float ul{
				width:90px;
				height:340px;
				padding-left:5px;
				position:fixed;
				bottom:70px;
				right:10px;
				z-index: 1;
				background-color: transparent;
			}
			#float  li{
				display:block;
				margin-top:0px;
				z-index:1;
			}
			#float button{
				width:60px;
				height:60px;
				margin-top:2px;
				background: #419641;
				border:0px;
				font-size:35px;
				color:#255625;
			}
			#float button:hover{
				background:darkgreen;/*#269ABC;*/
			}
			#float .glyphicon:hover{
				color: chartreuse;
			}
			.tooltip-inner{
				background:darkgreen;
				width:90px;
				height:30px;
				padding-top:7px;
				color: #FFFFFF;
			}
			#frist a{
				color:#FFFFFF;
			}
			#frist{
				position:fixed;
				top:0px;
				z-index:3;
				width:100%;
				background:darked;
			}
			#frist .navbar-brand{
				font-size:26px; 
				margin-left:15px; 
			}
			#frist .nav a:focus,
			#frist .nav a:active,
			#frist .nav a:hover
			{
			  background-color: darkgreen;
			  height:24px;
			}
			#frist .nav .open a{
				background:darkred;
			}
			#frist .nav .open a:active,
			#frist .nav .open a:hover{
			  background-color: darkgreen;
			}
			.carousel-control:active,
			.carousel-control:focus{
				background-color: #761C19;
			}
			.search{
				position:absolute;
				top:520px;
				left:330px;
				z-index: 1;
			}
			.search>.form-group input{
				width: 540px;
				height:60px;
				box-shadow: 1px 2px 9px #666;
				background: transparent;
				overflow: hidden;
				border: 1px solid #761C19;
				border-radius: 10px 0 0 10px;
				background: rgba(255, 255, 255, 0.7);
			}
			.search button{
				color:#FFFFFF;
				background:#761C19;
				width: 90px;
				height:60px;
				border-radius: 4px 10px 10px 4px;
				font-size:16px;
			}
			#main{
				width:100%;
				position:fixed;
				z-index:2;
				top:25px;
				height:50px;
				background:#F5F5F5;
			}
			#mainnav li{
				height:50px;
				width:110px;
				display:inline-block;
				margin-left:10px;
				padding-top:12px;
				text-align: center;
			}
			#mainnav a{
				text-decoration: none;
				font-size:17px;
				color:#761C19;
			}
			#mainnav a:active,
			#mainnav a:focus{
				color:#FFFFFF;
			}
			.navdiv{
				border:0px solid #A9A9A9;
				border-top:1px;
				height: auto;
				position:absolute;
				top:50px;
				display:none;
			}
			#mainnav .navdiv ul{
				margin-left:-60px;
				background:transparent;
			}
			#mainnav .navdiv li{
				display: list-item;
				margin-left:0px;
				width:160px;
				color:#FFFFFF;
				font-size:15px;
			}
			#function{
				width:100%;
				margin-top:-55px;
			}
			ul{
				list-style-type:none;
			}
			#function ul{
				margin-left:-40px;
			}
			#function li{
				display:inline-block;
				width:33%;
				height:230px;
			}
			#function .glyphicon{
				border-radius: 50%;
				font-size:100px;
				color: #737373;
				margin:0 auto;
				display:block;
				width:230px;
				height:230px;
				text-align:center;
				padding-top:70px;
				line-height:35px;
			}
			#function .glyphicon a{
				font-size:20px;
				color: #737373;
				text-decoration: none;
			}
			
			#function a:hover{
				background:#FFFFFF;
			}
			#function .glyphicon-active{
				border:1px solid #AC2925;
				color:#AC2925;
			}
			#function .glyphicon-active a{
				color:#AC2925;
			}
			.function-detail{
				width:94.5%;
				margin:0 auto;
				float:left;
				display:block;
			}
			.function-detail li{
				display:block;
				float:left;
			}
			.function-detail-left{
				width:35%;
				float:left;
				font-size:20px;
				height:330px;
				padding-top:120px;
				line-height:30px;
				color:#737373;
				padding-left:10px;
			}
			.function-detail-right{
				width:64%;
				float:right;
				font-size:20px;
				height:330px;
			}
			#function-span font{
				color:darkred;
			}
			#function-span span{
				display:block;
				width:50px;
				height:330px;
				padding-top:150px;
				font-size:40px;
				padding-left:10px;
				color:#AC2925;
			}
			.function-detail-right .function-tr-1{
				width:49%;
				height:100%;
				float:left;
			}
			.function-detail-right .function-tr-1 img{
				width:100%;
				height:100%;
			}
			.function-detail-right .function-tr-2{
				width:49.5%;
				height:49%;
				float:right;
				margin-bottom:10px;
			}
			.function-detail-right .function-tr-2 img{
				width:100%;
				height:100%;
			}
			.none{
				display:none;
			}
			.block{
				display:block;
			}
			.glyphicon-triangle-left{
				float:left;
			}
			.glyphicon-triangle-right{
				float:right;
			}
			#manager li{
				border-radius: 10%;
				width:7.5%;
				display:inline-block;
				height:80px;
				margin-left:83px;
				background:darkred;
				box-shadow: 5px 5px 3px #888888;
				opacity: 0.2;
			}
			#manager .glyphicon{
				font-size:52px;
				color:#FFFFFF;
				display:block;
				text-align:center;
				padding-top:14px;
			}
			#manager .glyphicon a{
				font-size:18px;
				text-decoration: none;
				color:darkred;
			}
		#title{
			width:990px;
			height:20px;
			border:0px solid #0000FF;
			margin:40px auto;
			margin-bottom:0px;
			background:white url(../img/statistic/s24.jpg) no-repeat;
		}
		#title h4{
			color:white;
			font-size:15px;
			margin-top:0px;
		}
		.atitle{
			margin-left:30px;
			margin-top:25px;
			width:1030px;
			height:auto;
			border:0px solid #0000FF;
			display:none;
		}
		.atitle img{
			width:100%;
			height:175px;
		}
		.atitle{
			margin-left:0px;
		}
		.atitle li{
			display:inline-block;
			border:0px solid #0000FF;
			width:29%;
			height:175px;
			float:left;
			margin-left:40px;
			margin-bottom:30px;
		}
		.myatitle{
			text-align: center;
			position:relative;
			width:100%;
			height:30px;
			bottom:40px;
			background-color:rgba(0, 0, 0, 0.5) !important;
			filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#af343434', EndColorStr='#af343434');
			line-height:30px;
		}
		.atitle li:hover .myatitle{
			background-color:darkred !important;
		}
		.myatitle h4{
			font-weight:300;
			font-size:14px;
		}
		a{
			text-decoration: none;
		}
		.atitle a{
			font-size:14px;
			color:white;
		}
			#bottom1{
				width:990px;
				border:0px solid red;
				border-bottom:1px solid #c6c7c6;
				height:auto;
				padding-top:0px;
				margin:0 auto;
				text-align:center;
				line-height:24px;
				font-size:16px;
				color:#797878;
				margin-top:40px;
			}
			#bottom1 a{
				color:#AC2925;
			}
			#bottom2{
				width:990px;
				height:auto;
				margin:0px auto;
				text-align:center;
				line-height:24px;
				font-size:16px;
				color:#797878;
				margin-top:30px;
			}
			#bottom2 a{
				font-size:13px;
				color:#797878;
			}
			#bottom2 a:hover{
				color: #AC2925;
			}
			#exmaple img{
			width:100%;
			opacity:1;
		}
		#exmaple ul{
			margin-left:-35px;
		}
		#exmaple li{
			width:18.7%;
			height:570px;
			margin-top:30px;
			margin-right:20px;
			float:left;
		}
		.exmaple-span{
			position:relative;
			display:block;
			width:90%;
			height:310px;
			left:12px;
			top:-562px;
			color:black;
			font-size:15px;
		}