font{
				color:#FFFFFF;
				font-size:18px;
			}
			span font{
				font-size:14px;
				color:royalblue;
			}
			input{
				width:300px;
				height:40px;
				border-radius:20px;
				background: #FFFFFF;
			}
			form tr{
				height:70px;
			}
			td{
				width:100px;
			}
			button{
				width:100px;
				height:40px;
				border-radius:15%;
				margin-right:20px;
				margin-left:50px;
				background: #AC2925;
				color:#F5F5F5;
			}
			#last-tr input{
				width:40px;
			}