<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinancialManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ithiema.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ithiema.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestServlet</display-name>
    <servlet-name>InvestServlet</servlet-name>
    <servlet-class>com.ithiema.function.investment.InvestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestServlet</servlet-name>
    <url-pattern>/invest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixedServlet</display-name>
    <servlet-name>FixedServlet</servlet-name>
    <servlet-class>com.ithiema.function.fixedassert.FixedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedServlet</servlet-name>
    <url-pattern>/fixed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.ithiema.function.project.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChaseServlet</display-name>
    <servlet-name>ChaseServlet</servlet-name>
    <servlet-class>com.ithiema.function.chase.ChaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChaseServlet</servlet-name>
    <url-pattern>/chase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMoneyServlet</display-name>
    <servlet-name>GetMoneyServlet</servlet-name>
    <servlet-class>com.ithiema.function.getmoney.GetMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMoneyServlet</servlet-name>
    <url-pattern>/getmoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodServlet</display-name>
    <servlet-name>MethodServlet</servlet-name>
    <servlet-class>com.ithiema.content.MethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodServlet</servlet-name>
    <url-pattern>/method</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodListServlet</display-name>
    <servlet-name>MethodListServlet</servlet-name>
    <servlet-class>com.ithiema.web.MethodListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodListServlet</servlet-name>
    <url-pattern>/methodList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemsListServlet</display-name>
    <servlet-name>ItemsListServlet</servlet-name>
    <servlet-class>com.ithiema.web.ItemsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsListServlet</servlet-name>
    <url-pattern>/itemsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodDeleteServlet</display-name>
    <servlet-name>MethodDeleteServlet</servlet-name>
    <servlet-class>com.ithiema.web.MethodDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodDeleteServlet</servlet-name>
    <url-pattern>/methodDelete</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.ithiema.utils.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetMethodByTypeServlet</display-name>
    <servlet-name>GetMethodByTypeServlet</servlet-name>
    <servlet-class>com.ithiema.web.GetMethodByTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMethodByTypeServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodByTnameServlet</display-name>
    <servlet-name>MethodByTnameServlet</servlet-name>
    <servlet-class>com.ithiema.web.MethodByTnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodByTnameServlet</servlet-name>
    <url-pattern>/methodBytname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemsDeleteServlet</display-name>
    <servlet-name>ItemsDeleteServlet</servlet-name>
    <servlet-class>com.ithiema.web.ItemsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsDeleteServlet</servlet-name>
    <url-pattern>/itemsDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.ithiema.web.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServlet</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.ithiema.web.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMethodServlet</display-name>
    <servlet-name>UpdateMethodServlet</servlet-name>
    <servlet-class>com.ithiema.web.UpdateMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMethodServlet</servlet-name>
    <url-pattern>/updateMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllListServlet</display-name>
    <servlet-name>AllListServlet</servlet-name>
    <servlet-class>com.ithiema.web.AllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllListServlet</servlet-name>
    <url-pattern>/allList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsMajorServlet</display-name>
    <servlet-name>IsMajorServlet</servlet-name>
    <servlet-class>com.ithiema.web.IsMajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsMajorServlet</servlet-name>
    <url-pattern>/isMajor</url-pattern>
  </servlet-mapping>
</web-app>